.flex-container1{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    gap: 80px;
    align-content: center;
    background-image: url("/IMG/photo-1523821741446-edb2b68bb7a0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#navbar{
    background: #23074d; 
 
    background: -webkit-linear-gradient(to right, #cc5333, #23074d); 
     
    background: linear-gradient(to right, #cc5333, #23074d);
    
}
#btn-nav{
    background-color: #41b3a3;
    color: beige;
    opacity: .8;
}
#btn-nav:hover{
    background-color: #41b3a3;
    color: #fff;
    opacity: 1;
}
#nav-img{
    height: 50px;
    width: 100px
}
#profile-pic{
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
}
.flex-container2{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-content: center;
    width: 100%;

}
.main-content{
    margin: 10px;
    align-self: center;
}
.btn.btn-sm{
    background-color: #626263;
    color: #fff;
    
}
.btn.btn-danger{
    justify-content: right;
}
.flex-container3{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}
.bg-image {
    /* The image used */
    background-image: url("/IMG/hd-background-3.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-img-top{
      height:700px;
      width: 400px;
  }